ACTION=="add", KERNEL=="sd[a-z]1", SUBSYSTEM=="block", ATTRS{idProduct}=="<PRODUCT_ID>", ATTRS{idVendor}=="<VENDOR_ID>", TAG+="systemd" ENV{SYSTEMD_WANTS}="udev-backup-automation@$devnode.service"